<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Project Manager</title>
    <script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
    <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
    <link rel="shortcut icon" href="/assets/img/favicon.png"/>
    <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
    <!-- Begin Page Layout -->
    <!-- Site Logo -->
    <h1>Project Manager</h1>

    <!-- Login / Signup Form -->
    <section id="content">
        <!-- Sentence to toggle between Login and Signup -->
    </section>

    <!-- Error Handling Div -->
    <div id="errorMessage">
    </div>
    <!-- End Page Layout -->

    <!-- Bundle belonging to this view goes here -->
    <script src="/assets/loginBundle.js"></script>
</body>
</html>